{% extends 'base.html.twig' %}

{% block title %}
	Liste des articles |
	{{ parent() }}
{% endblock %}

{% block body %}
	<section class="container mt-4">
		<h1 class="text-center">Liste des articles</h1>
		<div class="row">
			<aside class="col-md-3">
				{% include 'Components/_form.html.twig' with { form } only %}
			</aside>
			<div class="col-md-9">
				{% include 'Components/_articleList.html.twig' %}
			</div>
		</div>
	</section>
{% endblock %}
