<header class="sticky-top">
	<nav class="navbar navbar-expand-sm navbar-dark bg-primary">
		<div class="container-fluid">
			<a class="navbar-brand" href="{{ path('homepage') }}">My first App Symfony</a>
			<button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="collapsibleNavId">
				<ul class="navbar-nav me-auto mt-2 mt-lg-0">
					<li class="nav-item">
						<a class="nav-link active" href="{{ path('homepage') }}" aria-current="page">Home</a>
					</li>
				</ul>
			</div>
			<div class="navbar-nav ms-auto">
				{% if app.user %}
					<a href="{{ path('app.logout') }}" class="btn btn-danger">Deconnexion</a>
				{% else %}
					<a href="{{ path('app.login') }}" class="btn btn-light">Connexion</a>
				{% endif %}
			</div>
		</div>
	</nav>
</header>
